@charset "UTF-8";

* {
    font-family: 'Chivo';
}

:root {
    --corprimaria: #30545f;
    --corsecundaria: #207A97;
    --background: #333333;
    --font: #F5F5F5;
    --input: #ffffffc4;
    --corterciaria: #d4ac31;
    --corterciariaHover: #bb972c;
    --contato: #292929ee;
}

main {
    height: 100vh;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

#frase_inicial {
    padding: 40px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Tapestry';
}

.logo-itens {
    gap: 10px;
    height: 100%;
    width: auto;
    display: flex;
}

.logo-png img {
    height: 90%;
}

#Logo {
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-family: 'Oswaldo';
}

.cabecario {
    background: #0A0A0A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.cabecario-menu {
    display: none;
}

.cabecario a {
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
}

.cabecario p {
    color: #fff;
}

.list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.list a {
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.list a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.burguer-menu {
    display: none;
}


/*footer*/

.items {
    height: 20vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #0A0A0A;
    text-align: center;
}

.items a {
    color: #fff;
}

.items a:hover {
    text-decoration: none;
    padding-left: 2px;
}

.items p {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    margin: 0;
    color: #fff;
}

.items ul {
    display: flex;
    gap: 20px;
}

@media (max-width: 866px) {
    main {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }
    .list {
        display: none;
    }
    li {
        background: #000;
    }
    .cabecario-menu {
        display: flex;
        justify-content: end;
        background: #000;
        gap: 1rem;
    }
    .cabecario-menu ul {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .cabecario-menu li {
        background: #000;
    }
    .cabecario-menu a {
        color: var(--font);
        font-size: 1.3rem;
        text-decoration: none;
    }
}